@{
    var cssModules = ViewBag.CssModules as List<string>;
    var jsModules = ViewBag.JsModules as List<string>;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="~/Content/style.min.css" rel="stylesheet">
    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet" />
    <link href="~/Content/plugins/chosen/chosen.css" rel="stylesheet" />
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    @{
        if (cssModules != null)
        {
            foreach (var module in cssModules)
            {
                if (module.StartsWith("http://"))
                {
                    <link href="@(module)" rel="stylesheet">

                }
                else
                {
                    <link href="~/@(module)" rel="stylesheet">
                }
            }
        }
    }
    <script src="~/Script/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Script/bootstrap.min.js?v=3.3.6"></script>
    <script src="~/Script/enumHandler.js"></script>
    <script src="~/Script/content.min.js"></script>
    <script src="~/Script/common/ui.js"></script>
    <script src="~/Script/enumHandler.js"></script>
    @{
        if (jsModules != null)
        {
            foreach (var module in jsModules)
            {
                if (module.StartsWith("http://"))
                {
                    <script src="@(module)" charset="utf-8"></script>

                }
                else
                {
                    <script src="~/@(module)" charset="utf-8"></script>
                }
            }
        }
    }
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>