@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<body class="white-bg text-center">
    <img class="img-responsive full-width" src="~/Content/img/home-bg.png" />
</body>

<script src="~/Scripts/jquery.min.js?v=2.1.4"></script>
<script src="~/Scripts/bootstrap.min.js?v=3.3.6"></script>
