@model WRYJC.UI.Models.GasDayDataView

@{
    ViewBag.Title = "废气监测数据";
    //Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<h2>Index</h2>

<h2>@Model.Id</h2>
<br/>
<h2>@Model.PollutantPointId</h2>