
.price-box{width:860px;margin-left:auto;margin-right:auto;border: 1px solid #ddd;box-shadow: rgb(189, 189, 189) 0px 0px 10px;background: #fff;padding: 50px;padding-top:20px;margin-top: 25px;padding-bottom:0px;}
.price-title{font-size: 20px;text-align: center;line-height:60px;font-weight: bold;}
.price-subtitle{text-align: center;}
.price-info{margin-top:20px;margin-bottom:20px;font-size: 15px;}
.price-info table .formTitle{text-align:left;width:90px;font-size: 15px;}
.price-info table .formValue{text-align:left;font-size: 15px;}
.price-info table .formValue input{border-top:none;border-right:none;border-left:none;height:22px!important;line-height:22px!important;font-size: 15px;}

